.trigger-mode .el-radio-group {
  width: 420px;
}
.el-form-item__label {
  text-align: left;
}
.num {
  width: 60px;
}
.name {
  width: 300px;
}
.winType > div {
  float: left;
}
.win > div {
  display: inline-block;
  margin-left: 30px;
}
