#popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
#popup .popup-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
#popup .popup-container {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 5px 15px 20px 15px;
}
#popup .popup-title {
  display: flex;
  height: 30px;
  line-height: 30px;
}
#popup .popup-title .title {
  flex: 1;
}
#popup .popup-title .el-icon-close {
  width: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
#popup .popup-btn {
  text-align: center;
}
#popup .popup-btn .el-button {
  margin-right: 20px;
}
